<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roomwrapperimplement">

    <!--pkg => zoom-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--pkg => music -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/a"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--it is used for using custom fontsfor complete app-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- room db -->
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".adapter.EditInfo"></activity>

        <!-- db stack -->
        <activity android:name="com.example.stack.StackActivity"></activity>

        <!-- age calculator  -->
        <activity android:name="com.example.ageCalculator.ACSplashScreen"></activity>
        <activity android:name="com.example.ageCalculator.ACMainActivity"></activity>

        <activity android:name="com.example.qrCodeScanner.QRCodeMainActivity"></activity>

        <!-- playlist -->
        <activity android:name="com.example.musicplayer.AndroidBuildingMusicPlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.musicplayer.PlayListActivity"></activity>




    </application>

</manifest>