<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roomwrapperimplement">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--pkg => download music -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- finger print -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!--pkg => zoom-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/a"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--TODO::  Ask Runtime Permission -->
        <!--it is used for using custom fontsfor complete app-->
        <activity android:name=".MainActivity"></activity>

        <!-- room db -->
        <activity android:name=".adapter.EditInfo"></activity>
        <activity android:name="com.example.stack.StackActivity"></activity>

        <!-- db stack -->
        <activity android:name="com.example.ageCalculator.ACSplashScreen"></activity>

        <!-- age calculator  -->
        <activity android:name="com.example.ageCalculator.ACMainActivity"></activity>
        <activity android:name="com.example.qrCodeScanner.QRCodeMainActivity"></activity>

        <activity android:name="com.example.musicplayer.AndroidBuildingMusicPlayerActivity"></activity>

        <!-- playlist -->
        <activity android:name="com.example.musicplayer.PlayListActivity"></activity>
        <activity android:name="com.example.downloadMusic.DownloadMusicActivity"></activity>

        <!-- finger print -->
        <activity android:name="com.example.fingerPrint.FingerPrintActivity">

        </activity>

        <!--screen-->
        <activity
            android:name="com.example.screens.ScreenMainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <!--  <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>-->
        </activity>

        <activity
            android:name="com.example.screens.Home"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.example.screens.Homescreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.example.screens.HomeScreen_two"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.example.screens.ForgotPassword"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.example.screens.Navigation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.example.screens.Setting"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.example.screens.ScreenSplash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name="com.example.palindrome.PalindromeMainActivity" />

        <!-- palindrome -->
        <activity android:name="com.example.numberConverter.NumberConverterMainActivity"></activity>

        <!--drag and drop -->
        <activity android:name="com.example.dragAndDrop.DragnDropMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>



</manifest>